<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyOutlookTagger.Properties.Settings.MyOutlookTaggerCS"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyOutlookTagger.mdf;Integrated Security=True;MultipleActiveResultSets=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>